<section id="banner" class="banner">
  <div class="intro-text-top">Hi, I'm Jeremy</div>
  <div class="intro-text-bottom">web developer</div>
  <div class="image-container">
    <img
      src="https://cdn.jsdelivr.net/gh/tupasj/developer_portfolio/src/images/web-developer.png"
      alt="web developer coding"
    />
  </div>
</section>

<style>
  section {
    position: relative;
    display: grid;
    align-items: center;
    padding: 5% 4% 7% 4%;
  }
  .intro-text {
    margin-bottom: 7px;
  }
  .intro-text-top {
    margin-bottom: 22px;
    font-size: 46px;
    font-weight: bold;
    color: var(--dark-blue);
  }
  .intro-text-bottom {
    font-size: 28px;
    color: var(--regular-turquoise);
  }
  .image-container {
    justify-self: center;
  }
</style>
