---
import { ContactForm } from "../UI/ContactForm";
---

<section id="contact" class="contact">
  <h2>Send me an email!</h2>
  <ContactForm client:load/>
</section>

<style>
  @media (max-width: 612px) {
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 30%;
      padding-right: 30%;
    }
  }

  @media (max-width: 468px) {
    h2 {
      width: 250px;
    }
  }

  .contact {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }

  h2 {
    margin-bottom: 30px;
    color: var(--dark-blue);
  }
</style>
