---
import About from "./About.astro";
import Banner from "./Banner.astro";
import Contact from "./Contact.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";
---

<main>
  <Banner />
  <About />
  <Skills />
  <Projects />
  <Contact />
</main>