<footer>
  <div class="social-icons">
    <span class="social-icon">
      <a href="https://github.com/tupasj" target="__blank">
        <i class="devicon-github-original"></i>
      </a>
      <a href="https://www.linkedin.com/in/jeremy-tupas" target="__blank">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </span>
    <div>&copy; 2022 - Jeremy Tupas</div>
    <a
      href="https://www.vecteezy.com/free-vector/web"
      target="_blank"
      rel="noreferrer"
      class="attribution">Web Vectors by Vecteezy</a
    >
  </div>
</footer>

<style>
  footer {
    padding-top: 21px;
    padding-bottom: 21px;
    line-height: 1.75;
    text-align: center;
    color: var(--light-gray);
    background-color: var(--dark-blue);
  }
  .social-icon {
    margin: 7px;
    font-size: 32px;
  }
</style>
